*{
    margin:0px;
    padding: 0px;
    
}
 body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
 }
 h1,h2,h3,h4,h5{
    font-family: 'Poppins medium',sans-serif;
}
p{
    font-family: 'Poppins light',sans-serif;
}


/* ###################################### Start of Header Area Code ######################################  */
/* ###################################### Start of Head-area Code ######################################  */


 
#head-area-top
{   
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
   
    
}

.head-contact > ul  {
    font-size: 14px;
    margin-top:20px;
    margin-left:60px;
}

.head-contact > ul > li.list-inline-item:nth-child(2)
 {
     border-right:1px solid white;
     padding:0px 30px 0px 10px
}
.head-contact > ul > li.list-inline-item:nth-child(3)
 {
    padding:0px 10px 0px 30px
}
.head-contact > ul > li.list-inline-item:nth-child(4)
{
    color:red;
}

.head-social-icon ul
{
   margin-left: 350px;
  
}

.head-social-icon ul > li > a > i{
    width: 30px;
    height: 30px;
    color:#fff;
    margin-top: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    
}
.head-social-icon ul > li > a > i:hover{
    
    background-color: #09e474;

}

#menu .menu-area{
    width: 100%;
    position: static;
    border: none;
    border-radius: 0px;
    
}
#menu .mega-menu{
     width: 100%;
     margin-left: 200px;
     border: none;
     border-radius: 0px;
     background-color: #555;
}
#menu .blog,#menu .Pages{
  
   
    margin-top: 22px;
    background-color: #000;
    color: #fff;
    
}
#menu .blog a,#menu .Pages a{
    color: #3cb878;
}
.col-sm-6 .col-lg-3{
    margin-bottom: 20px;
}
#menu .blog:hover,#menu .Pages:hover{
    
   
    margin-top: 22px;
    background-color: #000;
    
}


#menu .mega-menu ul li a{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Poppins medium' ,sans-serif;
    color:#fff;
    

}

#menu .mega-menu ul li a:hover{
   
    color:#3cb878;

}

#menu .navbar-brand {
    color: black;
    text-decoration: none;
    font-family: 'Poppins medium',sans-serif;
    font-size: 40px;
    margin-left: 30px;
}
#menu .navbar-brand span{
    color:#09e474 ;
    margin-left: -5px;
}
.mega-menu a{
    text-decoration: none;
}

#menu ul li .nav-link{
    
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins medium' ,sans-serif;

}
#menu ul li .nav-link:hover{
    
    margin-left: 20px;
    text-decoration: none;
    color: #3cb878;
    font-size: 18px;
    font-family: 'Poppins medium' ,sans-serif;
}

#menu .dropdown-menu .dropdown-item a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins medium' ,sans-serif;
    color: #fff;
    margin-left: 0px;
}
.mega-menu ul{
   list-style-type: none;

}

.mega-menu h6{
   
    color:#09e474;
 
}

.icon-bar {
    position: absolute;
    top: 34%;
    right: 0%;
    margin-right:90px;
    font-size: 24px;

}

.icon-bar ul > li > i 
{   
    padding-left:10px;
    color: #2c3e50;
}
.shop-badge{
    border: 1px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: -8px;
    left: 20px;
    padding: 2px;
    height: 20px;
    width: 20px;
    font-size: 14px;
    line-height: 16px;
    background-color:#3cb878;
    color: #fff;
}

.sb-search
{
    position: relative;
    width: 0%;
    min-width: 30px;
    height:30px;
    border: 0px;
    margin-top: 32px;
    margin-right: 120px;
    margin-bottom: 10px;
    -webkit-transition:.4s;
    -moz-transition: .4s;
    transition: .4s;
    overflow: hidden;
    float: right;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.sb-search-input
{
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    outline: none;
    background-color: #09e474;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px 45px 5px 20px;
    font-family: inherit;
    font-size: 14px;
    color: #2c3e50;
    z-index: 10;
    line-height: 50px;

}

input[type='search'].sb-search-input
{
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    border-radius: 0px;
}
.sb-search-input::-webkit-input-placeholder
{
    color: #fff;
    font-style: italic;
}
.sb-search-input::-moz-input-placeholder
{
    color: #fff;
    font-style: italic;
}
.sb-search-input::-o-input-placeholder
{
    color: #0C5CF1;
    font-style: italic;
}
.sb-search-input::-ms-input-placeholder
{
    color: #0C5CF1;
    font-style: italic;
}
.sb-icon-search,
.sb-search-submit
{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    line-height: 50px;
    
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-icon-search
{
    color: #fff;
    background-color: #000;
    font-family: 'fontawesome';
    z-index: 90;
    font-size: 12px;
    line-height: 30px;
    font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.sb-icon-search::before
{
    content: "\f002";
}
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 70%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #09e474;
	color: #000;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}


/* ###################################### End of Head-area Code ######################################  */




/* ###################################### End of Header Area Code ######################################  */

/* ###################################### Start of Banner Area Code ######################################  */
#banner{
    width:100%;
    margin-bottom: 50px;
    overflow-x: hidden;
   
}
#banner .carousel-item::before
{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: #000;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.74;
}

#banner .carousel-item img{
    height: 630px;
}
 .carousel-caption
{
    top: 180px;
  
    

}
 .carousel-caption h6
{
   font-size: 18px;
    margin-left: -830px;
    color:  #fff;
}
.carousel-caption h1
{
    font-size: 50px;
    margin-left: -770px;
    color:  #09e474;
}


/* ###################################### End of Banner Area Code ######################################  */



/* ######################################  Start of Single-Blog  Area Code ######################################  */
#single-blog{
    padding: 50px 0px 70px 0px;
    overflow-x: hidden;
}
.single-blog-area{
    width: 100%;
}
.blog-img-area{
    width: 100%;
}
#single-blog .caption h4{
    margin: 20px 0px 5px 0px ;
 }
 #single-blog .caption h4 a{
     text-decoration: none;
     font-size: 28px;
     color: #000;
     outline: 0 !important;
 }
 #single-blog .caption:hover h4 a{
     color: #09e474;
 }
 #single-blog .caption h6{
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
  }
  #single-blog .details{
      margin: 20px 0px 80px;
     
  }
  #single-blog .details p{
      margin-top: 10px;
      font-size: 16px;
  }
  #single-blog p.special-notes{
    padding: 15px;
    font-size: 14px;
    background-color: #9e9e9e;
    color: #000;
    
    font-weight: lighter;
    border-left: 10px solid #333;
}
#single-blog .meta li {
     padding-right: 10px;
     width: 150px;
     
  }
  #single-blog .meta li h6{
     color: #000;
     
  }
  #single-blog .meta li i{
     padding-right: 10px;
     float: left;
     font-weight: bold;
    
  }
  .related-blog{
      padding: 20px 0px;
  }
  .related-blog h4{
      font-size: 30px;
      padding-bottom: 40px;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
  }
  .related-blog h4:hover{
      color: #09e474;
  }

  #single-blog .related-blog .captionh4 a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    outline: 0 !important;
  }
  #single-blog .related-blog .caption h4 {
      padding-bottom: 0px;
  }
  .thumbnail .details{
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
   
}
.thumbnail .meta li {
   padding-right: 10px;
   width: 150px;
   
}

.thumbnail .meta li i{
   padding-right: 10px;
   font-weight: bold;
  
}
.thumbnail .details p{
    font-size: 14px;
    text-align:justify;
    margin-bottom: 0px;
}
#single-blog .related-blog .meta li i{
    padding-right: 10px;
    float: none;
    font-weight: bold;
   
 }
#single-blog .details a{
    text-align: center;
    justify-content: center;
}
.meta li i:hover,.meta li i:focus{
    color: red;
   
   
  
}
  #single-blog .thumbnail .btn-custom, .btn-custom:focus{
    background-color: #000;
    color: #fff;
    padding: 5px 18px;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-top: 0px;
    outline: 0 !important;
    font-size: 14px;
    margin-top: -40px;
    margin-bottom: 20px;
  
    
    width: 120px;
    height: 40px;
    font-family: 'Poppins medium',sans-serif;
    line-height: 28px;
}
#single-blog .thumbnail .btn-custom:hover{
    background-color: #09e474;
    color: rgb(16, 16, 233);
}
.comments-area{
    margin-bottom: 50px;
}
.comments-area h4
{
    font-size: 30px;
    padding-bottom: 40px;
    color: #000;
}
.comments-area h4:hover
{
    
    color: #09e474;
}
.comments,.reply{
    padding: 20px 0px;
}
.comments{
    margin-left: 10px;
}
.reply{
    margin-left: 80px;
}
.comments-area  .img-area{
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin-right: 30px;
}
   

.comments-area .img-area img{
    width: 100%;
    float: left;
    
}
.comments-area  .info{
    margin-top: 0px;
    color: #000;
    padding-bottom: 40px;
   
    
}
.comments-area .info h5{
    font-family: 'Poppins medium',sans-serif;
    font-size: 18px;
    margin-left: 30px;
    color: #000;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
.comments-area  .info p{
    font-size:12px;
    max-width: 800px;
    text-align: justify;
    margin-left: 30px;
    font-family: 'Poppins',sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #000;
    margin-top: 0px;
    
}
.comments-area .button-area{
   margin-top:-125px;
   margin-bottom: 20px;
   padding-right: 30px;
}
.comments-area .button-area .btn-primary{
  
    background-color: #000;
    color: #fff;
    padding: 10px;
    line-height: 10px;
}
.review{
   padding: 20px 0px;
}
.review h4{
    font-size: 30px;
    padding-bottom: 40px;
    color: #000;
}
.review h4:hover{
   
    color: red;
}
.review .form-group label,.review .opinion-area label{
    color: #555;
    font-weight: bold;
    font-size: 18px;
}
.form-group input{
    background-color: #a5a5a5;
    color: #000;
}
.opinion-area textarea{
    background-color: #a5a5a5;
    color: #000;
   
} 
.btn-area .btn,.btn-area .btn:hover{
    background-color: #000;
    color: #fff;
    padding: 5px 18px;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    
    outline: 0 !important;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    font-family: 'Poppins medium',sans-serif;
    line-height: 28px;
}
.btn-area .btn a,.btn-area .btn:hover{
    text-decoration: none;
    color: #fff;
  

}



/* ######################################  End of Single-Blog  Area Code ######################################  */

/* ######################################  Start of Footer Top Area Code ######################################  */

#footer-top{
    overflow-x: hidden;
    margin: 50px 0px 0px 0px;
    background-color: #1b1b1b;
}
.footer-area{
    width: 100%;
  
}
.footer-area .footer-content{
    padding:50px 0px 0px 0px;
}
.footer-area .footer-content h4{
    font-size: 18px;
    color: #09e474;
    padding-bottom: 10px;
    margin:0 auto;
    text-align: center;
    justify-items: center;
}
.footer-content .contact-list-inline li{
    padding-top: 10px;
    max-width: 150px;
    color: #fff;
    font-size: 12px;
    padding-right: 0px;
   
}
.footer-content .contact-list-inline li i{
    font-size: 14px;
    padding: 10px ;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 20px;
    margin-right: 0px;
    float: left;
    
   
}

.footer-content .list-group li{
    padding-top: 12px;
   
    font-size: 14px;
    list-style: none;
    margin-left: 30px;
    color:#fff
    
}
.footer-content .list-group li a{
    text-decoration: none;
    color: #fff;
}
.footer-icon h5{
    padding-top: 20px;
    font-size: 16px;
    margin-left: 30px;
    color: #fff;

}
.footer-icon ul{
    margin-left: 30px;
    margin-bottom: 30px;
}
.footer-icon ul li i{
    width: 30px;
    height: 30px;
    color:#fff;
    margin-top: 0px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 28px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    margin-bottom: 10px;
    
    
}
.footer-icon ul li i:hover{
    background-color:#09e474 ;
   
}

 #footer-top .form-control
{  
    padding-top: 20px;
     width: 150px;
    height: 40px;
    padding: 6px 12px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0px;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    
}
#footer-top .form-control:focus
{
    width: 150px;
    height: 40px;
    border-color: #09e474;
    box-shadow: none;
}
#footer-top.form-control::-webkit-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top.form-control::-o-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top .form-control::-moz-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top .form-control::-ms-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top button{
    margin-top: 18px;
    width: 60px;
    height: 43px;
    font-size: 12px;
    background-color: #555;
    border: 1px solid #000;
    border-radius: 0px;
    margin-left: 0px;
}
#footer-top button i{
    font-size: 16px;
    color: #fff;
    line-height: 16px;
}
.commitment p{
    font-size: 12px;
    margin-right: 40px;
    color: #fff;
    text-align: justify;
}
/* ###################################### End of Footer Top Area Code ######################################  */

/* ######################################  Start of Footer End Area Code ######################################  */
#footer-end
{
   
    background-color: #000;
    color: #fff;
    height: 60px;
    

}
#footer-end p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    float: left;
    padding-left: 20px;
   
}
.footer-end-icon ul{
    padding-right:100px;
    padding-top: 20px;
    
}
.footer-end-icon ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-end-icon i{
    font-size: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    
    
}



/* ###################################### End of Footer End Area Code ######################################  */
