*{
    margin:0px;
    padding: 0px;
    
}
 body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
 }
 h1,h2,h3,h4,h5{
    font-family: 'Poppins medium',sans-serif;
}
p{
    font-family: 'Poppins light',sans-serif;
}


/* ###################################### Start of Header Area Code ######################################  */
/* ###################################### Start of Head-area Code ######################################  */


 
#head-area-top
{   
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
   
    
}

.head-contact > ul  {
    font-size: 14px;
    margin-top:20px;
    margin-left:60px;
}

.head-contact > ul > li.list-inline-item:nth-child(2)
 {
     border-right:1px solid white;
     padding:0px 30px 0px 10px
}
.head-contact > ul > li.list-inline-item:nth-child(3)
 {
    padding:0px 10px 0px 30px
}
.head-contact > ul > li.list-inline-item:nth-child(4)
{
    color:red;
}

.head-social-icon ul
{
   margin-left: 350px;
  
}

.head-social-icon ul > li > a > i{
    width: 30px;
    height: 30px;
    color:#fff;
    margin-top: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    text-align: center;
    line-height: 28px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    
}
.head-social-icon ul > li > a > i:hover{
    
    background-color: #09e474;

}

#menu .menu-area{
    width: 100%;
    position: static;
    border: none;
    border-radius: 0px;
    
}
#menu .mega-menu{
     width: 100%;
     margin-left: 200px;
     border: none;
     border-radius: 0px;
     background-color: #555;
}
#menu .blog,#menu .Pages{
  
   
    margin-top: 22px;
    background-color: #000;
    color: #fff;
    
}
#menu .blog a,#menu .Pages a{
    color: #3cb878;
}
.col-sm-6 .col-lg-3{
    margin-bottom: 20px;
}
#menu .blog:hover,#menu .Pages:hover{
    
   
    margin-top: 22px;
    background-color: #000;
    
}


#menu .mega-menu ul li a{
    text-decoration: none;
    font-size: 12px;
    font-family: 'Poppins medium' ,sans-serif;
    color:#fff;
    

}

#menu .mega-menu ul li a:hover{
   
    color:#3cb878;

}

#menu .navbar-brand {
    color: black;
    text-decoration: none;
    font-family: 'Poppins medium',sans-serif;
    font-size: 40px;
    margin-left: 30px;
}
#menu .navbar-brand span{
    color:#09e474 ;
    margin-left: -5px;
}
.mega-menu a{
    text-decoration: none;
}

#menu ul li .nav-link{
    
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins medium' ,sans-serif;

}
#menu ul li .nav-link:hover{
    
    margin-left: 20px;
    text-decoration: none;
    color: #3cb878;
    font-size: 18px;
    font-family: 'Poppins medium' ,sans-serif;
}

#menu .dropdown-menu .dropdown-item a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Poppins medium' ,sans-serif;
    color: #fff;
    margin-left: 0px;
}
.mega-menu ul{
   list-style-type: none;

}

.mega-menu h6{
   
    color:#09e474;
 
}

.icon-bar {
    position: absolute;
    top: 32%;
    right: 0%;
    margin-right:80px;
    font-size: 24px;

}

.icon-bar ul > li > i 
{   
    padding-left:10px;
    color: #2c3e50;
}
.shop-badge{
    border: 1px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: -8px;
    left: 20px;
    padding: 2px;
    height: 20px;
    width: 20px;
    font-size: 14px;
    line-height: 16px;
    background-color:#3cb878;
    color: #fff;
}

.sb-search
{
    position: relative;
    width: 0%;
    min-width: 30px;
    height:30px;
    border: 0px;
    margin-top: 32px;
    margin-right: 120px;
    margin-bottom: 10px;
    -webkit-transition:.4s;
    -moz-transition: .4s;
    transition: .4s;
    overflow: hidden;
    float: right;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.sb-search-input
{
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    outline: none;
    background-color: #09e474;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 5px 45px 5px 20px;
    font-family: inherit;
    font-size: 14px;
    color: #2c3e50;
    z-index: 10;
    line-height: 50px;

}

input[type='search'].sb-search-input
{
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    border-radius: 0px;
}
.sb-search-input::-webkit-input-placeholder
{
    color: #fff;
    font-style: italic;
}
.sb-search-input::-moz-input-placeholder
{
    color: #fff;
    font-style: italic;
}
.sb-search-input::-o-input-placeholder
{
    color: #0C5CF1;
    font-style: italic;
}
.sb-search-input::-ms-input-placeholder
{
    color: #0C5CF1;
    font-style: italic;
}
.sb-icon-search,
.sb-search-submit
{
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    line-height: 50px;
    
}
.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}
.sb-icon-search
{
    color: #fff;
    background-color: #000;
    font-family: 'fontawesome';
    z-index: 90;
    font-size: 12px;
    line-height: 30px;
    font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
.sb-icon-search::before
{
    content: "\f002";
}
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 70%;
}
.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #09e474;
	color: #000;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}


/* ###################################### End of Head-area Code ######################################  */

/* ###################################### End of Header Area Code ######################################  */

/* ###################################### Start of Breadcumbs Code ######################################  */
#breadcumbs{
    padding-top: 80px;
    height: 30px;
    

}
.breadcumbs-area{
    margin-top: 40px;
    width: 500px;
}
.breadcumbs-area p{
    font-size: 12px;
}
.breadcumbs-area p span{
    font-size: 14px;
    color: #3cb878;
    margin-left: -2px;
}




/* ###################################### End of  Breadcumbs Code ######################################  */

/* ###################################### Start of  Products area Code ######################################  */
#products{
    
    margin: 50px 0px;
    overflow-x: hidden;
    padding-top: 20px;
}


.products-area .row
{
    border:1px solid #000;
    border-right:none;

}
.products-area .col-md-4, .products-area .col-md-2
{
    border-right:1px solid #000;
   
}
.products-area .col-md-4:hover, .products-area .col-md-2:hover
{
    border-right:1px solid #fff;
    background-color: #000;
    color: red;
   
}
#header-row{
    background-color: #000;
    color: #fff;
   
}
#header-row :hover{
    background-color: #00A651;
    color: #fff;
   
}
.products-area img{
    margin-top: 20px;
    float: left;
    margin-bottom: 20px;
    margin-right: 10px;
}
.products-area p{
    margin-top: 60px;
    font-size: 14px;
   
}
.products-area .col-md-4 h3, .products-area .col-md-2 h3
{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.products-area .col-md-2 p{
    font-size: 12px;
    
}
.products-area .col-md-2 p span{
    margin-left: 5px;
    margin-right: 5px;
} 
.products-area .col-md-2 input{
    margin-top: 40%;
    width: 40px;
    color: #000;
    margin-left: 40%;
}
.products-area .col-md-12 {
    background-color: #060606;
}

.products-area .col-md-12 button {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
.products-area .col-md-12 .reset{
    background-color: #a5a5a5;
    color: #060606;
    font-size: 14px;
}
.products-area .col-md-12 .submit{
    background-color:#00A651;
    font-size: 14px;
}
.submit a,.submit a:hover{
    text-decoration: none;
    color: #fff;
}





/* ###################################### End of  Products area Code ######################################  */


/* ###################################### Start of  codes area Code ######################################  */


#code{
    padding: 50px 0px 50px 0px;
    overflow-x: hidden;
}
.code-area{
    width: 100%;
}
#code .col-md-6{
    margin-bottom: 30px;
}
.code-area h4{
    font-size: 18px;
    padding-bottom: 5px;
    color: #00A651;
    font-weight: bold;
}
.code-area .form-group label{
    font-size: 14px;
}
.code-area .form-control
{  
    padding-top: 20px;
     width: 250px;
    height: 40px;
    padding: 6px 12px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0px;
    float: left;
    margin-top: 10px;
    margin-right: 0px;
    
}
.code-area .form-control:focus
{
    width: 200px;
    height: 40px;
    border-color: #09e474;
    box-shadow: none;
}
.code-area .form-control::-webkit-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
.code-area .form-control::-o-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
.code-area .form-control::-moz-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
.code-area .form-control::-ms-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
.code-area button{
    margin-top: 10px;
    width: 80px;
    height: 40px;
    background-color: #00A651;
    border: 1px solid #000;
    border-radius: 0px;
    margin-left: 0px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
}



/* ###################################### End of  Codes area Code ######################################  */


#shipping-process{
    padding: 50px 0px 50px 0px;
    overflow-x: hidden;
}
#shipping-process .col-md-12{
    margin-bottom: 30px;
}
#shipping-process h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #00A651;
    font-weight: bold;
}
.shipping-process-area .form-group label{
    color: #a5a5a5;
    font-size: 14px;
}

.shipping-process-area .calculation-area{
    border: 1px solid #000;
    width: 400px;
    margin-top: 50px;
}

.shipping-process-area .calculation-area p{
    margin-left: 30px;
    padding: 10px 0px;
    font-size: 16px;
}
.total-area{
    border-top: 1px solid #000;
}
p span{
    text-align: right;
    justify-content: right;
    margin-left: 200px;
    font-size: 12px;
}
.total-area p span{
    margin-left: 230px;
}
 button {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}
 .reset{
    background-color: #a5a5a5;
    color: #060606;
    font-size: 14px;
    margin-top: 20px;
    margin-left:150px;
    
}
 .submit{
    background-color:#00A651;
    color: #fff;
    font-size: 14px;
    margin-left: 20px;
}


/* ######################################  Start of Footer Top Area Code ######################################  */

#footer-top{
    overflow-x: hidden;
    margin: 50px 0px 0px 0px;
    background-color: #1b1b1b;
}
.footer-area{
    width: 100%;
  
}
.footer-area .footer-content{
    padding:50px 0px 0px 0px;
}
.footer-area .footer-content h4{
    font-size: 18px;
    color: #09e474;
    padding-bottom: 10px;
    margin:0 auto;
    text-align: center;
    justify-items: center;
}
.footer-content .contact-list-inline li{
    padding-top: 10px;
    max-width: 150px;
    color: #fff;
    font-size: 12px;
    padding-right: 0px;
   
}
.footer-content .contact-list-inline li i{
    font-size: 14px;
    padding: 10px ;
    border: 1px solid #fff;
    color: #fff;
    margin-left: 20px;
    margin-right: 0px;
    float: left;
    
   
}

.footer-content .list-group li{
    padding-top: 12px;
   
    font-size: 14px;
    list-style: none;
    margin-left: 30px;
    color:#fff
    
}
.footer-content .list-group li a{
    text-decoration: none;
    color: #fff;
}
.footer-icon h5{
    padding-top: 20px;
    font-size: 16px;
    margin-left: 30px;
    color: #fff;

}
.footer-icon ul{
    margin-left: 30px;
    margin-bottom: 30px;
}
.footer-icon ul li i{
    width: 30px;
    height: 30px;
    color:#fff;
    margin-top: 0px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 28px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    margin-bottom: 10px;
    
    
}
.footer-icon ul li i:hover{
    background-color:#09e474 ;
   
}

 #footer-top .form-control
{  
    padding-top: 20px;
     width: 150px;
    height: 40px;
    padding: 6px 12px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0px;
    float: left;
    margin-top: 20px;
    margin-right: 0px;
    
}
#footer-top .form-control:focus
{
    width: 150px;
    height: 40px;
    border-color: #09e474;
    box-shadow: none;
}
#footer-top.form-control::-webkit-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top.form-control::-o-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top .form-control::-moz-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top .form-control::-ms-input-placeholder
{
    color: #9e9e9e;
    font-style: italic;
    font-size: 12px;
}
#footer-top button{
    margin-top: 18px;
    width: 60px;
    height: 43px;
    font-size: 12px;
    background-color: #555;
    border: 1px solid #000;
    border-radius: 0px;
    margin-left: 0px;
}
#footer-top button i{
    font-size: 16px;
    color: #fff;
    line-height: 16px;
}
.commitment p{
    font-size: 12px;
    margin-right: 40px;
    color: #fff;
    text-align: justify;
}
/* ###################################### End of Footer Top Area Code ######################################  */








/* ######################################  Start of Footer End Area Code ######################################  */
#footer-end
{
   
    background-color: #000;
    color: #fff;
    
    

}
#footer-end p{
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    float: left;
    padding-left: 20px;
   
}
#footer-end span{
    margin-left: 0px;
    font-size: 16px;
}
.footer-end-icon ul{
    padding-right:100px;
    padding-top: 20px;
    
}
.footer-end-icon ul li a{
    text-decoration: none;
    color: #fff;
}
.footer-end-icon i{
    font-size: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
    
    
}



/* ###################################### End of Footer End Area Code ######################################  */
